.join__max-width {
  max-width: 528px;
}

.questions__width {
  max-width: 872px;
}

.footer__width {
  max-width: 212px;
}
@media screen and (max-width: 575px) {
  .carousel-item img {
    height: 80vh;
    object-fit: cover;
  }
}

@media screen and (min-width: 576px) {
  .card__max-height {
    max-height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .popular__width {
    width: 50%;
  }
}
