.join__max-width {
  max-width: 528px;
}

.feedback__heading-width {
  width: 75%;
}

.questions__width {
  max-width: 872px;
}

.footer__width {
  max-width: 212px;
}

@media screen and (max-width: 575px) {
  .carousel-item img {
    height: 80vh;
    object-fit: cover;
  }
}

@media screen and (min-width: 576px) {
  .card__max-height {
    max-height: 200px;
  }
  .successful__width-heding-div {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .explore__img-div {
    width: 40%;
    overflow: hidden;
  }
  .explore__img {
    height: 543px;
    object-fit: cover;
  }
  .explore__info-div {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .carousel__heading-1 {
    font-size: 65px;
  }
  .popular__width {
    width: 50%;
  }

  .successful__width-heding-div {
    width: 50%;
  }
  .feedback__heading-width {
    width: 50%;
  }
}
